/* body {
  background-color: red;
} */
* {
  /* margin: 0; */
  box-sizing: border-box;
}
:root {
  --bacground-color: #1f2937;
  --text-color: #67e8f9;
}
body {
  margin: 0;
  background-color: var(--bacground-color);
  color: var(--text-color);
}
.container {
  max-width: 20rem;
  margin: auto;
  /* text-align: center; */
}
.input {
  display: block;
  margin: 0.6rem 0;
  padding: 0.5rem;
  width: 100%;
  border-radius: 7px;
}
.btn {
  padding: 0.5rem;
  border: 3px solid var(--text-color);
  border-radius: 4px;
  background-color: var(--bacground-color);
  color: var(--text-color);
  font-weight: bold;
}
h1 {
  text-align: center;
  padding-top: 6rem;
  font-size: 2.5rem;
}
#output-message {
  height: 4rem;
}
label {
  font-weight: bold;
}
